<h1><b>Example contact form</b></h1>
<h3><b>From</b></h3>
<textarea rows="1" cols="70"></textarea>

<h3><b>Subject</b></h3>
<textarea rows="1" cols="70"></textarea>

<h3><b>Body</b><h3>
<textarea rows="15" cols="55"></textarea>
<p><p>
<button>Send</button>