<h1><b>Example login screen</b></h1>
<table border="1">
	<tr>
		<th>Email address</th>
		<th><input size="25"></th> 
	</tr>
	<tr>
		<th>Password</th>
		<th><input size="25"</th>
	</tr>
	<tr>
		<th>
		<th><button>Login</button></th>
	</tr>
</table>

