<h1><b>Examples of species</b></h1>

<h2><b>1. plants</b></h2>

<h3><b>1.a. ferns</b></h3>
<p>Cyathea dealbata</p>

<h3><b>1.b flowering plants</b></h3>
<p>Cocos nucifera</p>
<p>Olea europaea</p>

<h2><b>2. animals</b></h2>

<h3><b>2.a vertebrates</b></h3>

<p>Canis lupus</p>
<p>Chinchilla lanigera</p>
<p>Carcharodon carcharias</p>

<h3><b>2.b invertebrates</b></h3>
<p>Polygonoporus giganticus</p>

