<p>
	<div class="inverse">
 		 White text on a black background
 	</div>
</p>


<p>
	<div class="border">
		  Text with a thick border and some padding around it
	</div>
</p>


<p>
	<div class="smalltext">
  		Small text in a narrow box that's indented
  	</div>
</p>


<p>
	<div class="thinborder">
 		 Text with a thin border and lots of room around it
    </div>
</p>


<p>
	<div class="centered">
  Text in a box that's centered
  	</div>
</p>


<p>
	<div class="bluebox">
  		Text with a blue glow around it and its box
  	</div>
</p>
