<h1>World cities</h1>

<table class="table">

  <tr>
    <th>City Name</th>
    <th>Country Flag</th>
    <th>Time Zone</th>
    <th>Population</th>
  </tr>

  <% City.order(:id).each do |c| %>
    <tr>
      <td><%= c.City_Name %>, 
      <td>
        <img src="/images/<%= c.Country_Flag %>">
      </td>
      <td><%= c.Time_Zone %></td>
      <td><%= c.Poputation %>
    </tr>
  <% end %>
</table>

