<% @cars.each do |car| %>

	<% if car.member_id != nil %>
  		<h2>
   			<%= Member.find_by(id: car.member_id).username %> has the <%= car.model %>
  		</h2>
  	<% else %>
  		<h2> No one has the <%= car.model %> </h2>
  	<% end %>

<% end %>
